

:root {
    --dark: #212528;
    --font-mono: "Founders Grotesk Mono Web","Input Mono","Source Code Pro","Monaco",monospace;
    --opacity: .6;
    --none: none;
    --white: #fff;
    --mycolor: #ff7e67;
    --transition: all 1.5s ease-out;
    --font-fam: '-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji';
    /* font-family: 'helvetica neue'!important; */

}

.all-header {
    font-family: "Orelo Variable", "Times New Roman", serif;
    font-size: 3rem;
    font-weight: 400;
    font-variation-settings: "wght" 500, "wdth" 30, "ital" 13;
    hyphens: initial;
    line-height: 1;
}
   
a {
    color: #000;
    cursor: pointer;
}

body {
    position: relative;
    font-size: 62.5%;
    box-sizing: border-box;
     -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   position: relative;
   
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3rem;

    
}

@media (max-width:768px ) {
 

  .aboutme-image{
    width: 100%;
    margin: 0 auto;
    height: 30%;
    /* width: 385px; */
    /* height: 256px; */
    background-position: top;
    background-attachment: scroll;
  }
  
}



/* 
  @media (max-width:768px ) {
  


}  */

.aboutme {
    padding-top: 3rem;
    padding-left: 4rem;
    /* display: flex;
    flex-direction: column; */
}
@media(max-width: 425px){
    .aboutme{
        padding-top: 0rem;

    }

}



@media(max-width:426px){
    .aboutme-header{
        margin: 1rem;
        margin-left: -1rem;
        /* font-size: 2rem; */
    }
}

@media(max-width:376px){
    .aboutme-header{
        margin: 1rem;
        margin-left: -1rem;
        /* font-size: 2rem; */
    }
}


.aboutme-header {
    font-size: 4rem;
    /* font-family: var(--font-mono); */
    font-family: 'Poppins', sans-serif;

    margin-top: 6rem; 
}

@media(max-width:426px){
    .aboutme-header{
        margin: 1rem;
        margin-left: -1rem;
        /* font-size: 2rem; */
        margin-top: 1.5rem; 

    }
}

.aboutme-text {
    /* font-family: var(--font-mono); */
    font-family: 'Poppins', sans-serif;

    font-size: .7rem;
    /* margin-bottom: 3rem; */
    font-size: 1rem;
    opacity: var(--opacity);
    margin-top: 4rem;

}
@media(max-width: 768px){
    .aboutme-text {
      margin: 0 auto;
      font-size: .8rem;
  }
  .aboutme-image{
        height: 150px;
        width: 50vw;

  }


}





.aboutme-text-one {
    margin-bottom: 1.5rem;
}

.aboutme-text-two {
    margin-bottom: 2rem;
    
}
.aboutme-text-three {
    margin-bottom: 2rem;
    
}

@media(max-width:426px){
    .aboutme-text > p {
        margin-bottom: 1rem;
        margin-left: -1.5rem;
    }
}

.aboutme-icons > * {
   margin-right: 1rem;
   /* background: red; */

}

.aboutme-iconss > * {
   margin-right: 1rem;
  
}

.aboutme-icons {
    margin-top: 4rem;
}

.aboutme-iconss > * {
   margin-right: 1rem;
}

.aboutme-iconss {
    margin-top: 6rem;
}

.aboutme-image {
    background-image: url('../images/Me.JPG');
    height: 100vh;
    background-size: cover;
    background-position: top;
   
}

@media(max-width:501px){
        .wrapper {
        display: flex;
        flex-direction: column-reverse;
        
    }

    .aboutme-image {
       margin-top: 5rem;
        
        /* max-width: 71%; */
        /* max-height: 50%; */
        width: 71%;
        height: 250px;
        background-position: center;



    }


}




/* after clicking on homepage */



.wrap-checkbox {
display: none;
box-shadow: 0 1rem 3rem rgba(#000);
}


.navigation-button {
   height: 1.5rem;
   width: .8rem;
   position: fixed;
   left: 4.4rem;
   top: 3rem;
   border-radius: 50%;
   z-index: 2000;
   font-size: 1.3rem;
   text-align: center;
    cursor: pointer;

}
.navigation-button:hover .navigation-icon::before{
    top: -.45rem;
}

.navigation-button:hover .navigation-icon::after{
    top: .45rem;
}

/* functionality */
input:checked ~.nav-background {
    transform: scale(100);
  
}

input:checked ~.wrap-nav {
    opacity: 1;
    width: 100%;
  
}
input:checked+.navigation-button .navigation-icon{
    background: transparent;
}

input:checked+.navigation-button .navigation-icon::before{
    transform: rotate(135deg);
    top: 0;
}

input:checked+.navigation-button .navigation-icon::after{
    transform: rotate(-135deg);
    top: 0;


}

/* functionality */


/* nanvigation icon functionaliity*/
.navigation-icon {
position: relative;
margin-top: 1rem;
margin-left: -3.5rem;
cursor: pointer;

}

.navigation-icon,
.navigation-icon::before,
.navigation-icon::after{
    width: 1.2rem;
    height: 3px;
    background-color: var(--dark);
    display: inline-block;
    border-radius: 3rem;
}

.navigation-icon::before {
    content: '';
    position: absolute;
    left: 0;
    top: -.4rem;
    transition: all .2s;
}


.navigation-icon::after{
    content: '';
    position: absolute;
    left: 0;
    top: .4rem;
    transition: all .2s;



    
}






/* nanvigation icon functionaliity*/



.nav-background {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: #fff;
    position: fixed;
    left: 1.6rem;
    top: 3rem;
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.19, 1, 0.22, 1);


    cursor: pointer;
} 

@media(max-width: 321px){
    .nav-background {
        left: 1.2rem;
    }
    .navigation-icon {
        margin-left: -5.2rem;
    }

    .aboutme-text {
        margin-left: -1rem;
    }


}

.wrap-nav {
    height: 100vh;
    position: fixed;
    z-index: 1500;
    padding: 3rem;
    opacity: 0;
    width: 0;
    transition: all .5s ease;   
    
}


.col1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}





.icons {
    margin-top: -11rem;
}

.icons > .cancel {
    font-size: 1.3rem;
}



.col-content {
    margin-left: 29rem;
}

@media (max-width:1126px){
    .col-content {
    margin-left: 24rem;

    }
}

@media (max-width:1024px){
    .col-content {
    margin-left: 20rem;

    }
}

@media (max-width:843px){
    .col-content {
    margin-left: 14rem;

    }
}

@media (max-width:768px){
    .col-content a {
        font-size: .8rem;
    }
}





@media (max-width:658px){

   .col-content {
    margin-left: 10rem;

}
.col1 {
        grid-template-columns: 1fr;
        justify-items: center;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
}
.down {
    flex-wrap: wrap;
}

}

@media (max-width: 331px){
        .col-content {
        margin-left: 1rem;

    }
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

}
.logo {
    transform: scale(.6);
    margin-top: -4rem;
}

.logo:hover {
    transform: scale(.8);
    transition: var(--transition);
}

.list > *{
    margin-bottom: 3rem;
}

.list-item {
    list-style: var(--none);
    text-align: end;
}

.list-link {
    margin-left: -8rem; 
    display: block;
    font-size: 1.3rem;
    /* font-family: var(--font-mono); */
    font-family: 'Poppins', sans-serif;
    
    text-decoration: none;
    cursor: pointer;
    color: #000;

}
.list-link:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--mycolor);
    transform: translateX(-.4rem);
    transition: .2s all ease-in-out;
}




.down {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    width: 90%;
    margin-top: 11rem;


}

@media (max-width: 1024px){
    .down {
    padding-top: 1rem;
    margin-top: 15rem;


    }

        .list > *{
        margin-bottom: 2rem;
    }

}


@media (max-width: 768px){
    .down {
        margin-top: 15rem;
    padding-top: 1rem;

    }
}



@media (max-width: 425px){
    .down {
        margin-left: -2.3rem;
        margin-top: 15rem;
    padding-top: 1rem;


    }
}

@media (max-width: 320px){
    .down {
        margin-left: -2.3rem;
       margin-top: 15rem;
    padding-top: 1rem;



    }
}

.input:checked ~ .nav-background {
    /* transform: scale(50); */
    font-size: 60rem;
}









/* library page css */

/* library for my portfolio */


.library-header {
    /* font-family: var(--font-mono); */
    font-family: 'Poppins', sans-serif;

    border-bottom: 1px solid #000;
    margin: 0 .7rem;
}

.nav {
    display: flex;
    /* align-items: center; */
    align-items: flex-start;
}

.nav-list {
list-style: none;
/* margin-right: auto; */
}



.nav-list-link {
    text-decoration: none;
    cursor: pointer;
}

.nav-list-link:hover {
text-decoration: underline;
color: #FA7E67;
}


.nav-logo {
    width: 30px;
    height: 30px;
    margin-left: -2rem;
}



.nav-list-col {
    font-size: 1.2rem;
    /* letter-spacing: .1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

@media(max-width: 424px){
    .nav-list-col {
        display: block;
    }
}

.library-text {
    margin: 5rem 8rem; 

}
.all-header {
    /* font-family: var(--font-mono); */
    font-family: 'Poppins', sans-serif;


}
.all-header-text {
    font-size: 1rem;
    /* font-family: lato; */
    font-family: 'Poppins', sans-serif;

    letter-spacing: .1rem;
    line-height: 1.2rem;
}

@media(max-width: 425px){
    .all-header-text {
    font-size: .7rem;

    }


}


.container{
    margin: 5rem 8rem; 
    display: inline;
    /* background: red; */
    display: grid;
    /* grid-auto-rows: 300px; */
    /* height: 800px;  */
    /* width: 1000px; */

    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 20px;
    /* min-height: 1500px; */
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    
}  
@media(max-width: 768px){
    .container{
    margin: 2rem 3rem; 

    }

        .library-text {
        margin: 2rem 3rem;
    }


}

@media(max-width: 320px){
    .library-text {
        margin: 1rem;
    }

    .all-header {
        font-size: 1.5rem;
    }

}

.container-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: pink; */
    justify-content: flex-start;
    text-decoration: none;
    /* height: 25rem; */
    /* background: #ccc; */
    margin-bottom: 1rem;
    align-content: center;

}

@media(max-width: 686px){
    .container-link {
        margin-bottom: 0;
    }
}

.container-link:hover {
    color: #FA7E67;
}


.img {

    display: block;
   
    width: 12rem;
    height: 20rem;

    cursor: pointer;
    object-fit: contain;
    background-size: cover; 
    background-position: top; 
}

/* @media (max-width: 510px) {
    .img {
    width: 80%;

    }
    .container {
        margin: 40px;
        align-items: center;
    }
} */

.container-figure {
    /* margin-right: 2rem; */
    margin-top: -1rem;
    /* margin-inline-end: 0;
    margin-inline-start: 0; */

}

@media(max-width: 425px){
        .container-figure {
        margin-right: 0rem;
        /* margin-top: 0rem; */
        align-items: center;
        align-content: center;
    }

    .img{ 
        margin: 0 auto;

    }


}

figure {
    margin: 0;
}

.container-text {
    /* display: block; */
    font-family: lato;
    /* font-family: 'Poppins', sans-serif; */

    font-weight: 400;
    font-size: 1rem;
    /* text-align: center; */
    margin-bottom: .5rem;
    margin-top: -.5rem;
}
.container-text + span {
    color: #777;
    font-size: .8rem;
    /* margin-left: -1.8rem; */
    /* font-family: lato; */
    font-family: 'Poppins', sans-serif;

    /* text-align: center; */


}


.footer-library {
    text-align: center;
    font-size: .9rem;
    padding: 2rem;
    /* font-family: var(--font-mono); */
    /* font-family: lato; */
    font-family: 'Poppins', sans-serif;

}
@media(max-width: 768px){
    .footer-library {
        padding: 0;
    }
}





/* About me page */


 .about-section {
    display: flex;
    justify-content: flex-start;
    padding: 3rem;
    align-items: flex-start;
 }


  @media(max-width: 425px){
    .about-section {
        padding: 1.5rem ;
    }

}


  @media(max-width: 375px){
    .about-section {
        padding: 1rem ;
    }
    .about-header {
        padding-top: 1rem ;
    }

    



}



 @media(max-width: 320px){
     .about-section{
         padding: 1rem;
     }
 }

 .about-section-image {
    /* object-fit: contain; */
    /* height: 50rem; */
    width: 100vw;
    background-image: url('../images/Me2.JPG');
    height: 440px;
    background-size: cover; 
    background-position: bottom;
    background-repeat: no-repeat;
    /* object-fit: contain; */
 }

 @media(max-width: 1085px){
     .about-section-image {
        height: 100vh;

     }
 }

 @media(max-width: 1024px){
     .about-section {
         flex-direction: column;
         align-items: center;
     }

     .about-section-image {
        height: 90vh;
        width: 60vw;
        /* width: 90vw; */

     }

     @media(max-width: 800px){
         .about-section-image{
            height: 550px;
            width: 80vw;
         }


     }

     

    .about-header {
         margin: 0rem;
         padding-top: 1rem;
    }


 }



 @media(max-width: 425px){
         .about-section-image{
            height: 300px;
         }
    
    
}

 
 @media(max-width: 375px){
         .about-section-image{
            height: 280px;
         }
    
}




@media(max-width: 320px){
         .about-section-image{
            height: 220px;
         }
    
}





 .about-content {
    /* padding: 0 3rem; */
    /* font-family: var(--font-mono); */
    font-family: lato;
    /* font-family: 'Poppins', sans-serif; */

    /* padding: 0 1rem; */
    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 0; */
    font-size: 1rem;
    padding: 0 2rem;


 }


 @media(max-width: 425px){
    .about-content {
        padding: 0 ;
    }
}






@media(max-width: 320px){
    .about-content {
        padding: 0;
    }
}

/*  */


/*  */






 .about-header {
    font-size: 3rem;
    margin: 0;
    /* font-weight: bold; */
    font-family: 'Anton', sans-serif;
    letter-spacing: .3rem;

 }

 @media(max-width: 426px){
    .about-header {
        font-size: 2rem;
        margin-top: 1.5rem;

    }

 }

 @media(max-width:320px){
    .about-header {
    font-size: 1.5rem;
    }

    

   

 }

 .about-text:hover {
    color: #FA7E67;
    line-height: 1.3rem;
 }


 .icondiv {
    /* margin: 4rem auto; */
    /* background: red; */
    /* width: 40%; */
    margin: 3rem auto;
    text-align: center;
 }

@media(max-width:768px){
    .logicon {
        height: 2rem;
    }
}

@media(max-width:321px){
    .logicon {
        height: 1.5rem;
    }

   

}

 .gallery {

    display: grid;

    grid-row-gap: 40px; 
    /* grid-column-gap: -3rem; */
    grid-template-columns: repeat(auto-fill,minmax(500px, 1fr));
    /* justify-content: space-evenly; */
    justify-items: center;
    align-items: center;
    /* margin: 0 3rem; */

 }

.gallery-link {
    width: 30rem;
    height: 30rem;
    /* background: pink; */
    margin-bottom: 4rem;
    text-decoration: none;
    /* font-family: lato; */
    font-family: 'Poppins', sans-serif;

    border-radius: .5rem;
}


@media(max-width:425px){
        .gallery-link {
        /* margin: 0 0 -4rem; */
        margin-bottom: -5rem;
    }
}






.image-gallery {
    width: 30rem;
    height: 25rem;
    border-radius: .5rem;
    object-fit: cover;
    /* transition: all .5s ease-in; */
    transition: .4s ease-in-out;
    filter: grayscale(10);

}

@media(max-width: 426px){
   

    .image-gallery{
        width: 17rem;
        height: 19rem;
        /* margin: 0 auto; */
        margin-left: 6.5rem;

    }
    .background-name {
        margin: 0;

    }

    .background-definition {
        margin: 0;
        font-size: 1rem;
    }

   


}



@media(max-width: 986px){
 
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


.image-gallery:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    filter: grayscale(0);
    
}

.gallery-background {
    /* display: flex;
    justify-content: space-around;
    flex-direction: column; */
    background: white;
    text-align: center;
    font-size: 1.3rem;
    width: 25rem;
    margin: 0 auto;
    margin-top: -4.5rem;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: -1px 2px 12px -3px rgba(0,0,0,0.6);
-moz-box-shadow: -1px 2px 12px -3px rgba(0,0,0,0.6);
box-shadow: -1px 2px 12px -3px rgba(0,0,0,0.6);
    transition: .4s ease-in-out;
    font-family: 'Poppins', sans-serif;

}



@media(max-width: 792px){
    .gallery-background {
        width: 22rem;
    }
}

 

@media(max-width: 426px){
    .gallery-background {
        width: 15rem;
        margin-top: -2.5rem;

    }
    body {
        overflow-x: hidden;
    }
}



.image-gallery:hover + .gallery-background {
    background: #ddd;

}
.image-gallery:hover + .gallery-background > .background-definition  {
    color: #FA7E67;

}


.background-name {
    font-weight: bold;
    padding-top: .5rem;
}

.background-definition {
    padding-bottom: .5rem;
    color: #aaa;
}




/* Community styles */
.community-section {
    font-family: 'Poppins', sans-serif;
    padding: 2rem;
}

.community-gallery {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.community-gallery-image {
    width: 30rem;
    max-width: 30rem;

    height: 20rem;
    border-radius: .6rem;

}

@media(max-width: 954px){
        .community-gallery-image {
        width: 26rem;
        height: 20rem;

    }

}

@media(max-width: 442px){
        .community-gallery-image {
        width: 20rem;
        height: 18rem;

    }

    

}

@media(max-width: 331px){
        .community-gallery-image {
        width: 16rem;
        height: 15rem;

    }
      

}

@media(max-width: 820px){
        .community-gallery {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }

}


.community-gallery-text {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #777;
}
.community-gallery-text:hover {
    color: #FA7E67;
    font-weight: bold;
}

.community-name {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Poppins', sans-serif;

    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.community-gallery-one {
    padding: 0 2rem;
        /* max-width: 40rem; */
    width: 48rem; 
}


@media(max-width: 768px){
        .community-gallery-one {
        /* padding: 0rem;  */
        width: 28rem; 
        
    }
}


@media(max-width: 425px){
        .community-gallery-one {
        padding: 0rem; 
        width: 20rem; 
        
    }
}

@media(max-width: 331px){
        .community-gallery-one {
        padding: 0rem; 
        width: 17rem; 



    }
}

@media(max-width: 253px){
        .body {
        overflow-x: scroll;
    }
}







/* portfolio */

/* body {
    position: relative;
    font-size: 62.5%;
    box-sizing: border-box;
} */



.home {
    margin-left: 72.5rem;
    margin-top: 2rem;
    cursor: pointer;
    transform: scale(.5);
}
.home:hover {
    transform: scale(.7);
    transition: all 1s ease-in-out;
}

.portfolio {
    padding: 3rem;
    font-family: 'Poppins', sans-serif;
    /* font-weight: bold; */
    max-width: 90%;
    
}




.layout {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    margin-bottom: .5rem;

}

.text {
    font-size: 1.3rem;
}

.layout > img:hover{
    cursor: pointer;
}


.hide,.hides,.hide-one,.hides-one,.hide-two,.hide-three,.hide-four{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    align-items: center;
    align-content: center;
    
}

@media (max-width:1024px){
    .hides {
        grid-template-columns: 1fr;

    }
}


.hide-one {
    display: none;
}

.hides-one {
    display: none;

}
.hide-two {
    display: none;
}

.hide-three {
    display: none;
}

.hide-four {
    display: none;
}






.display-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #8E9091;
    font-size: .8rem;
    margin-left: 1.5rem;
        
}

.display-text-one{
    margin-bottom: 2rem;
}

.display-text-two {
    margin-bottom: 2rem;

}

.display-text-link {
    color: black !important;
    display: block;
    /* background: red; */

}

.display-image{
    width: 70%;
    cursor: pointer;
    margin-left: 1.5rem;
}

@media(max-width: 768px){
    .display-image{
    width: 80%;

    }
    .display-image:hover {
    width: 85%;

    }

    .portfolio {
        padding: 1rem;
    }


}


@media (max-width: 671px){

    .hide,.hide-one,.hide-two,.hide-three,.hide-four{
        /* display: grid; */
        grid-template-columns: 1fr;
        /* grid-gap: 20px; */
        /* justify-items: center;
        align-items: center;
        align-items: center;
        align-content: center; */
        
    }

    .display-image{
        width: 70%;
        margin-left: 4rem;

    }
    .display-image:hover {
    width: 75%;

    }


}


@media (max-width:574px){
    .display-text {
        margin-left: 0;
    }

    .display-image {
        margin-left: 3.5rem;

    }

}

@media (max-width: 474px){
     .display-image {
        margin-left: 2.5rem;

    }
    .display-image:hover {
        margin-left: 2.5rem;

    }
}

@media(max-width: 419px){
    .display-image {
        width: 85%;
        margin-left: 2rem;

    }

    .display-image:hover {
        width: 90%;
        margin-left: 2rem;


    }
}


@media(max-width: 322px){
    .display-image{
        margin-left: 1rem;

    }

     .display-image:hover{
        margin-left: 1rem;
        margin: 1;

    }
    .text {
        font-size: 1rem;
    }

        .nav-list-col {
        font-size: 1rem;
        /* letter-spacing: .1rem; */
    }
}

@media (max-width:237px){
    .nav-list-col {
        padding-left: 0rem;
    }
    .nav {
        display: block;
    }

    .nav-logo {
        margin-left: -3rem;
    }


} 

@media(max-width: 205px){
        .portfolio {
        padding: 1rem;
    }
    

}

.display-image:hover {
    transform: scale(1.3); 
    transition: all 2s ease-in-out;
    width: 75%;

}

/* Animations */

@keyframes movetoright {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes movetoleft {
    0%{
        opacity: 0;
        transform: translateX(50px);   
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}



/* writing */
.writing {
    margin-left: 4rem;
    font-family: 'Poppins', sans-serif;

}

.display-images{
    width: 70%;
    margin-left: 2rem;
}

@media(max-width: 1024px){
        .display-images{
        width: 50%;
        margin-left: 2rem;
    }
}

.downn {
    margin-top: 8rem;
}